$def with(personas)
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>SQLITE demo</title>
    </head>
    <body>
        <h1>SQLITE3 Personas</h1>
        <a href="/insertar">insertar</a><br><br>

        <!--<form method="POST">
            <label>Nombre</label>
            <input type="text" name="nombre" id="nombre">
            <br>
            <label>Email</label>
            <input type="text" name="email" id="email">
            <br>
            <input type="submit" value="Agregar">
        </form>-->

        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Detalle</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                $for fila in personas:
                    <tr>
                        <td>$fila[1]</td>
                        <td>$fila[2]</td>
                        <!--<td><a href="/detalle/$fila[0]">detalle</a></td>
                        <td><a href="/editar/$fila[0]">editar</a></td>
                        <td><a href="/borrar/$fila[0]">borrar</a></td>-->
                    </tr>
            </tbody>
        </table>
    </body>
</html>