$def with(respuesta={})
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>SQLITE demo</title>
    </head>
    <body>
        <h1>Personas</h1>

        $if respuesta["error"] is not None:
            <h2>$respuesta["error"]</h2>

        <a href="/insertar"><button>insertar</button></a>

        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Detalle</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>

                $for persona in respuesta["personas"]:
                    $ detalle = '/detalle/%s' % persona[0]
                    $ editar = '/editar/%s' % persona[0]
                    $ borrar = '/borrar/%s' % persona[0]
                    <tr>
                        <td>$persona[1]</td>

                        <td>$persona[2]</td>
                        <td><a href=$detalle>Detalle</a></td>
                        <td><a href=$editar>Editar</a></td>
                        <td><a href=$borrar>Borrar</a></td>
                    </tr>
            </tbody>
    </body>
</html>